/* All style should go in this document. */

* {
	box-sizing: border-box;
}

body {
	font-family: Verdana, sans-serif;
	background-color: #e8edf3;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	color: white;
}

p, h4, ul, li {
	margin: 0;
}

/*-- HEADER --*/

#header {
	margin: 0;
	padding: 0px;
	background-color: #173e43;
}

#header nav {
	width: 100%;
	margin: 0;
	padding: 25px;
	padding-left: 0px;
	background-color: #89bdd3;
	text-align: center;
	position: fixed;
}

#header nav a {
	list-style-type: none;
	font-size: 18px;
	display: inline;
	text-decoration: none;
	color: white;
}

a:hover {
	background-color: lightblue;
}

#header li {
	border-right: thick solid white;
	border-right-width: 2px;
	padding-right: 5px;
}

/*-- WHO I AM --*/

#who-i-am {
	background: #3fb0ac;
}

#who-i-am h4 {
	text-align: center;
	padding-top: 120px;
}

#who-i-am p {
	text-align: center;
	padding-left: 40px;
	padding-right: 40px;
	padding-bottom: 70px;
}

#who-i-am p a, #who-i-am p a:visited {
	text-decoration: none;
	color: blue;
}

/*-- BACKGROUND --*/

#background {
	background-color: white;
	font-weight: normal;
	color: #3fb0ac;
	padding: 75px;
}

#background hr {
	width: 50%;
}

#background h4 {
	text-align: center;
}

#background p {
	text-align: center;
	color: black;
	padding: 5px;
}

/*-- RESUME --*/

#resume {
	background-color: #9068be;
	margin-left: auto;
	margin-right: auto;
	padding-top: 50px;
	padding-bottom: 50px;
}

#resume h4 {
	padding-top: 60px;
	padding-bottom: 15px;
}

#resume h2 { 
	font-size: 20px;
	margin: 0 0 6px 0;
}

#resume h2 span {
	font-size: 16px;
	font-weight: normal;
	font-family: Georgia, serif;
	font-style: italic;
}

#resume p {
	margin: 0 0 0 0;
}

#resume dt {
	font-style: italic;
	font-weight: bold;
	font-size: 18px;
	text-align: right;
	padding-top: 25px;
	padding-right: 25px;
	width: 150px;
	border-right: 1px solid white; /*specify width, style, color of border*/
}

#resume dl {
	display: table; /*makes dl behave like <tr>*/
	margin-left: auto;
	margin-right: auto;
	
}

#resume span {
	display: block;
}

#resume dl dt, dl dd {
	display: table-cell; /*makes elements behave like <td>*/
	padding-bottom: 20px;
}
#resume dl dd {
	width: 500px;
	padding-left: 26px;
}

/*-- CONTACT --*/

#contact {
	background-color: #62bcfa;
	font-weight: normal;
	padding: 75px;
}

#contact {
	text-align: center;
}

#contact p {
	text-align: center;
	font-size: 18px;
	padding: 5px;
}

#contact p a {
	color: white;
	text-decoration: none;
}

#notification {
	color: white;
	font-size: 20px;
}
#notification h1 {
	font-weight: bold;
	font-size: 36px;
}

#notification p {
	padding-top: 10px;